.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.dropdown{
    padding: 10px;
}

mat-card {
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

mat-card:hover {
  transform: scale(1.05);
}

/* Highlight top rated movie */
.top-rated {
  border: 3px solid gold;
  box-shadow: 0 0 15px gold;
}

.average-rating {
  font-size: 18px;
  margin: 12px 0;
}